{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": "> 1%",
        "useBuiltIns": "usage", // connecting the necessary polyfills
        "corejs": 3,
        "modules": false
      }
    ]
  ]
}